@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../font/Segoe UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../font/Segoe UI Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../font/Segoe UI Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../font/Segoe UI Bold Italic.woff') format('woff');
}

@font-face {
    font-family: 'Caladea Bold Italic';
    src: url('../font/Caladea-BoldItalic.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('../font/MontserratSubrayada-Regular.ttf');
}

:root {
    --primary-color: rgba(13, 110, 139, 0.30);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main h1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projets{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.description{
    text-align: center;
    width: 50%;
    margin: auto;
}

.projet_1{
    padding: 1rem;
    background-color: rgba(13, 110, 139, 0.50);
    border: 2px solid black;
    border-radius: 6px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.image_projet_1 img{
    margin-left: 1rem;
    margin-right: 2rem;
    border-radius: 6px;
}

.image_projet_1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texte{
    margin-right: 2rem;
    margin-left: 2rem; 
}

.texte h2{
    justify-content: center;
    margin-bottom: 3rem;
}

.texte p{
    margin-bottom: 1rem;
}

.description_projet{
    width: 50%;
    margin: auto;
    text-align: left;
}


body{
    background: url('../icones/bandwidth-blancetnoir.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    font-family: 'Caladea Bold Italic', sans-serif;
    line-height: 1.4;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.mentions_legales{
    width: auto;
    margin-top: 4.2rem;
    margin-right: 1rem;
}

.mentions_legales a{
    color: #BBD2E7;
}

@media screen and (max-width: 1200px)
{
    main h1{
        margin-top: 5rem;
        font-size: 1.5rem;
    }

    .image_projet_1{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .image_projet_1 img{
        margin-bottom: 3rem;
        width: 90%;
        height: auto;
    }

    .description{
        width: 80%;
    }

    .description_projet{
        width: 80%;
    }

    .projet_1{
        flex-direction: column;
        align-content: center;
    }

    .mentions_legales{
        margin: auto;
        margin-top: 0rem;
    }
}