@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../font/Segoe UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../font/Segoe UI Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../font/Segoe UI Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../font/Segoe UI Bold Italic.woff') format('woff');
}

@font-face {
    font-family: 'Caladea Bold Italic';
    src: url('../font/Caladea-BoldItalic.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('../font/MontserratSubrayada-Regular.ttf');
}

:root {
    --primary-color: rgba(13, 110, 139, 0.30);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
}

main h1{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: white;
    text-transform: uppercase;
    font-family: 'Segoe UI Bold', sans-serif;
    font-weight: 400;
}

.recommandation_affichage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nom_prenom{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.email_enterprise{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

textarea{
    width: 363px;
    height: 79px;
}

.form-group{
    text-align: center;
    margin: 1em 0;
}

.recommandation {
    width: 40%;
    justify-content: flex-end;
    border-radius: 16px;
    padding: 1em;
    margin-bottom: 0.75rem;
}

.recommandation input{
    width: 15vw;
    height: 5vh;
}

.recommandation input.form{
    width: 1em;
    height: 5vh;
}

.last_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}

.first_name{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}

.enterprise{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5em;
}

.message a{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.recommandation a{
    display: contents;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.recommandation input.form{
    width: 2vw;
    height: 2vh;
    margin-right: 1em;
    margin-bottom: 2em;
}

.mentions_input{
    text-transform: none;
    text-decoration: none;
    color: lightblue;
    margin-left: 3em;
    margin-top: -1em;
}

.mentions_input:hover{
    text-decoration: underline;
}

.carouseul{
    color: white;
    width: 45%;
    height: 15em;
    margin-top: 2rem;
    margin-left: 5rem;
    justify-content: flex-end;
    border-radius: 16px;
    padding: 2em 0 2em 0;
}

.carouseul h4{
    text-decoration: underline; 
}

.container {
    width: 100% !important;
}

.description_contact img{
    margin-right: 1rem;
}

body{
    background: url('icones/bandwidth-blancetnoir.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
}

footer{
    margin-top: 0.2em;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    height: 4vh;
}

.mentions_legales{
    width: auto;
    margin-right: 1rem;
}

.mentions_legales a{
    color: #BBD2E7;
}

.button{
    background-color: #f32853;
    font-size: 1.35em;
    text-decoration: none;
    padding: 15px 25px;
    border: solid #f32853 1px;
    border-radius: 4px;
    color: #FFF;
    font-family: "Segoe UI Bold", sans-serif;
    text-transform: uppercase;
    margin: 1em 0;
}

.erreurs{
    color: red;
    margin-bottom: 1em;
    transition: transform .5s .5s;
    animation: alert 1s infinite;
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

@keyframes alert {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) and (orientation: landscape){
    .recommandation{
        padding: 8em;
    }
}

@media screen and (max-width: 1030px)
{
    .recommandation_affichage{
        flex-direction: column;
    }

    .recommandation input, textarea{
        width: 53vw;
    }

    .recommandation{
        width: 90%;
    }

    .recommandation input.form{
        width: 4vw;
        height: 2vh;
    }

    .carouseul{
        margin-top: 0em;
        margin-left: 0rem;
        width: 100%;
    }

    .nom_prenom{
        flex-direction: column;
        margin-bottom: 1em;
    }

    .last_name{
        margin-right: 0rem;
        margin-bottom: 1rem
    }

    .email_enterprise{
        flex-direction: column;
    }

    .email{
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

    .contact input{
        width: 100%;
    }

    footer{
        justify-content: center;
        height: 5vh;
    }

    .mentions_legales{
        margin-right: 0rem; 
    }
}

@media only screen and (max-width: 1030px) and (orientation: landscape){
    .nom_prenom{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .email_enterprise{
        flex-direction: row;
        margin-bottom: 0em;
    }

    textarea{
        width: 340px;
        height: 60px;
    }

    .last_name{
        margin-right: 3rem;
        margin-bottom: 1rem
    }

    .email{
        margin-right: 3rem;
        margin-bottom: 1rem;
    }

    .button{
        margin-top: 1em;
    }

    .recommandation input{
        width: 35vw;
        height: 7vh;
    }

    footer{
        margin-bottom: 1em;
    }
}


@media only screen and (max-width: 800px){
    footer{
        margin-top: 3em;
    }
}

@media only screen and (max-width: 823px) and (orientation: landscape){
    .recommandation input.form{
        width: 2vw;
        height: 4vh;
    }

    footer{
        margin-top: 0em;
    }
}

@media only screen and (max-width: 450px){
    main h1{
        margin-top: 2em;
    }
}

@media only screen and (max-width: 420px){
    footer{
        margin-top: 5em;
    }
}

@media only screen and (max-width: 350px){
    main h1{
        font-size: 26px;
    }

    footer{
        margin-top: 10em;
        font-size: 14px;
    }
}

@media only screen and (max-width: 300px){
    main h1{
        font-size: 24px;
    }

    footer{
        margin-top: 18em;
        font-size: 12px;
    }
}

