@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../font/Segoe UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../font/Segoe UI Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../font/Segoe UI Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../font/Segoe UI Bold Italic.woff') format('woff');
}

@font-face {
    font-family: 'Caladea Bold Italic';
    src: url('../font/Caladea-BoldItalic.ttf');
}

@font-face {
	font-family: "Montserrat";
	src: url('../font/MontserratSubrayada-Regular.ttf');
}

:root {
    --primary-color: rgba(13, 110, 139, 0.30);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h4{
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 0 1em 0;
}

header h4+p{
    font-size: 0.9em;
    margin-top: -0.6em;
    line-height: 1.5em;
}

header p{
    color: #aaa;
    position: relative;
    margin: 0 0 1.5em 0;
    text-transform: uppercase;
}

p{
    font-size: 14px;
    margin: 0 0 2em 0;
}

body {
    font-family: Raleway, sans-serif;
    line-height: 1.4;
}


#banniere {
    padding: 26em 0 3em 0;
    background-attachment: fixed;
    background-image: url("./icones/overlay.png"), url("./icones/fond2.jpg");
    background-position: center top;
    background-size: cover;
    line-height: 1.75;
    text-align: center;
}

#banniere li{
    margin-top: 14rem;
}

#banniere h2 {
    color: #FFF;
    display: inline-block;
    font-size: 3.5em;
    line-height: 1.35;
    margin-bottom: 0.5em;
}

#banniere p{
    width: 100%;
    padding: 0 200px;
    color: #aaa;
    font-size: 1.3em;
    margin-top: 3em;
    margin-bottom: 2.5em;
}

#header {
    background-color: transparent;
    position: absolute;
    width: 100%;
}

.titre_principal{
    position: absolute;
    font-size: 1.5rem;
    top: 2em;
    right: 3em;
    font-family: 'Montserrat', sans-serif;
    color: #BBD2E7;
    text-align: right;
}

ul{
    list-style: none;
}

.button{
    background-color: #f32853;
    font-size: 1.35em;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
}

a {
    color: white;
    text-transform: uppercase;
    font-family: 'Segoe UI Bold', sans-serif;
}

.section_style{
    padding: 6em 0 4em 0;
}

.container_section_1{
    margin-left: auto;
    margin-right: auto;
    width: 60em;
}

.ligne{
    margin: 0 1em 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titre_section_1{
    width: 50%;
    clear: none;
    margin-left: 0;
}

header.majeur{
    font-family: Raleway, sans-serif;
    margin: 0 0 2em 0;
    color: #666666;
}

.description_section_1{
    width: 50%;
    clear: none;
    margin-left: 0;
    color: #666666;
}

.description_section_1 h2 {
    color: #484848;
}

.photo_de_presentation img{
    height: auto;
    width: 250px;
    border-radius: 10px;
}

.section_style.style2{
    background-color: #f6f6f6;
}

.container_section_2{
    margin-left: auto;
    margin-right: auto;
    width: 80em;
}

header.major{
    font-family: Raleway, sans-serif;
    margin: 0 0 3em 0;
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
}

header.major h2{
    margin: 0 0 0.8em;
    font-size: 1.35em;
    color: #484848;
}

header.major p {
    color: #aaa;
    font-size: 0.7em;
    margin-top: -1em;
}

.image_bac, .image_licence, .image_bachelor{
    margin-bottom: 40px;
    box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.15);
}

.image_bac h3, .image_licence h3, .image_bachelor h3{
    background-color: #FFF;
    box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.15);
    display: block;
    padding: 2em 1em;
    text-align: center;
}

.image_bac img{
    height: auto;
    width: 540px;
}

.image_licence img{
    height: auto;
    width: 570px;
}

.image_bachelor img{
    height: auto;
    width: 370px;
}

.ligne.section_2 {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container_section_3{
    width: 80em;
    margin-left: auto;
    margin-right: auto;
}

.grilles_de_projets{
    position: relative;
}

.projet_bis{
    display: inline-block;
    float: left;
    margin-bottom: 3em;
    width: 50%;
}

.image.rounded img {
    height: auto;
    width: 175px;
    border: solid 0.5em rgba(144,144,144,0.25);
    border-radius: 100%;
}

.content{
    width: 60%;
}

.grilles_de_projets.projet_bis:nth-child(odd) .image img{
    display: inline;
    max-width: 100%;
}

.grilles_de_projets .projet_bis:nth-child(odd) .content, .grilles_de_projets .projet_bis:nth-child(odd) .image{
    float: right;
    margin-right: 5%;
    text-align: right;
}

.grilles_de_projets .projet_bis:nth-child(even) .content, .grilles_de_projets .projet_bis:nth-child(even) .image{
    float: left;
    margin-left: 5%;
    text-align: left;
}

.grilles_de_projets::after{
    clear: both;
    content:'';
    display: block;
}

.section_style.style4{
    background-attachment: fixed;
    background-image: url("./icones/bandwidth-blancetnoir.jpg");
    background-position: center center;
    background-size: cover;
}

.container{
    width: 80em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section_style.style4 header.major h2{
    color: #ffffff;
}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.icon{
    padding: 0 2em 0 2em;
}

.mentions_legales{
    text-align: center;
}

.mentions_legales a{
    color: #484848;
}