@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../font/Segoe UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../font/Segoe UI Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../font/Segoe UI Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../font/Segoe UI Bold Italic.woff') format('woff');
}

@font-face {
    font-family: 'Caladea Bold Italic';
    src: url('../font/Caladea-BoldItalic.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('../font/MontserratSubrayada-Regular.ttf');
}

:root {
    --primary-color: rgba(13, 110, 139, 0.30);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
}

main h1{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.recommandation_affichage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nom_prenom{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.email_enterprise{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

textarea{
    width: 435px;
    height: 80px;
}

.recommandation {
    width: 40%;
    margin-top: 5rem;
    justify-content: flex-end;
    border: 2px solid yellow;
    border-radius: 16px;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
}

.recommandation input{
    width: 15vw;
    height: 5vh;
}

.last_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}

.first_name{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}

.enterprise{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.message a{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.recommandation a{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.carouseul{
    color: white;
    width: 45%;
    height: 15rem;
    margin-top: 2rem;
    margin-left: 5rem;
    justify-content: flex-end;
    border: 2px solid yellow;
    border-radius: 16px;
    padding-top: 2rem;
    margin-bottom: 0.75rem;
}

.carouseul h4{
    text-decoration: underline; 
}

.container {
    width: 100% !important;
}

.description_contact img{
    margin-right: 1rem;
}

body{
    background: url('icones/bandwidth-blancetnoir.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    font-family: 'Caladea Bold Italic', sans-serif;
    line-height: 1.4;
}

footer{
    margin-top: 1rem;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    height: 4vh;
}

.mentions_legales{
    width: auto;
    margin-right: 1rem;
}

.mentions_legales a{
    color: #BBD2E7;
}

@media screen and (max-width: 1030px)
{
    .recommandation_affichage{
        flex-direction: column;
    }

    .recommandation input{
        width: 43vw;
    }

    .recommandation{
        width: 90%;
    }

    .carouseul{
        margin-left: 0rem;
        width: 90%;
        height: 20%;
    }

    .nom_prenom{
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .last_name{
        margin-right: 0rem;
        margin-bottom: 1rem
    }

    .email_enterprise{
        flex-direction: column;
    }

    .email{
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

    .contact input{
        width: 100%;
    }

    textarea{
        width: 100%;
        height: 60px;
    }

    footer{
        justify-content: center;
        height: 5vh;
    }

    .mentions_legales{
        margin-right: 0rem; 
    }
}